body {
	width: 200px;
	padding: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f0f0f0;
}

.title {
	font-weight: 700px;
}

img {
	width: 50px;
	height: auto;
}

.link {
	cursor: pointer;
	color: #7b97e7;
}

.link:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #7b97e7;
}

h3 {
	margin-top: 0px;
	margin-bottom: 10px;
}

.data {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	padding: 20px 0;
	width: 100%;
}

.data--item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

#donate-info {
	display: none;
	width: 100%;
}

.donate--item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 20px;
}

#new-cc {
	display: none;
}

/* Button 1 */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 5px 10px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:before {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.btn-1 {
	border: 3px solid #000;
	color: #000;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
	color: #fff;
	background: #7b97e7;
	border: 3px solid #7b97e7;
}

/* Form */
.field-set {
  	border: 1px solid #d6d6d6;
}

.form-group {
	padding: 5px 0px;
	display: flex;
	flex-direction: column;
}

.form-row {
	display: flex;
	flex-direction: row;
}

#frmCCCVC {
	width: 30px;
}

#frmNameCC {
	width: 160px;
}

#frmMonthCC {
	width: 110px;
}

#save-link {
	float: right;
}

#charity {
	color:gray;
	font-style: italic;
	font-size: 12px;
}

a {
	text-decoration: none;
}
